/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}

/*****************************************************Custom code*********************************************************/

body{
	background:#EDED2B;
}

header{
	max-height: 20%;
	width: 100%;
	display: block;
	background-image: url("media/citron.jpg");
	position: fixed;
	top: 0;
	box-shadow: 0px 0px 6px black;
}

nav:before{
	content: "Menu";
}

nav{
	margin-top: 5%;
	margin-right: 20px;
	width: 200px;
	cursor: pointer;
	font-size: 30px;
	float: right;
	text-align: right;
	border-bottom: solid 2px black;
	transition: 0.25s
}

nav>#menu, nav>#menu>li{
	width: 5%;
	display: none;
}

nav:hover>#menu{
	display: block;
}

nav>#menu>li{
	display: block;
	height: 70px;
	line-height: 50px;
	width : 100%;
	text-align : center;
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
	font-size: 15px;
}

nav>#menu {
	width: 100%;
	margin : auto;
	text-align: center;
	box-shadow: 0px 0px 2px black;
	background-color: rgba(255, 166, 0, 0.842);
}

#menu a{
	text-decoration: none;
	color: black;
}

#menu a:hover{
	text-shadow: 1px 1px 10px black;
	color: yellow;
}

#citronnade{
	display : block;
	width: 15%;
	float: left;
}

#repèrePrésentation{
	padding-bottom: 110px;
}

#container{
	width: 100%;
	background-color: #FFF;
	margin: auto;
}

#cadre{
	padding: 3%;
	display: flex;
	border: solid orange 2px;
	border-radius: 30px;
	background-color: #fad24f8c;
	text-align: justify;
	width: 90%;
	font-size: 20px;
	margin-bottom: 10px;
}

h2{
	width: 50%;
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
	color:green;
	font-size: 30px;
	margin-bottom: 10px;
}

#container h1{
	margin-top:20px;
	margin-left:90px;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
	color:rgb(10, 122, 10);
	width:50%;
	font-size: 30px;
}

#presentation{	
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

#repèrePrésentation{
	padding-bottom: 17%;
}

#boisson{
	height: 200px;
	border: 4mm ridge rgb(255, 123, 0);	
}

#cadreBoisson{
	padding: 2%;
	border: solid orange 2px;
	background-color: #fad24f8c;
	font-family: cursive;
	text-align: justify;
	width: 90%;
	border-radius: 30px;
}

#cadreLieu{
	padding: 5%;
	display: flex;
	border: solid orange 2px;
	border-radius: 30px;
	background-color: #fad24f8c;
	text-align: justify;
	width: 300px;
	font-size: 20px;
}

#paragraphe{
	display: flex;
	margin-left: 50px;
	margin-bottom: 50px;
	font-family: 'Rock Salt', cursive;
	justify-content: center;
	justify-items: center;
	flex-direction: column;
}

#imageParagrapheDivin{
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
	margin-bottom: 50px;
}

.citronVert{
	width:10%;
	display: flex;
	justify-content: center;
	margin:auto;
	margin-bottom: 70px;
	margin-top: 30px;
}

#citronFrais{
	width:35%;
	height: 250px;
	border-radius: 100%;	
}

#lieu{
	display: flex;
	flex-direction: column;
}

#evenement{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.citron{
	width:10%;
	display: flex;
	justify-content: center;
	margin:auto;
	margin-bottom: 50px;
	margin-top: 30px;
}

#imageGrenouille{
	width:30%;	
	margin:auto;
	border-radius: 30px;
}
	
*{
	font-size:19px;
	font-family: cursive;
}

#carte{
	border: 3mm ridge rgba(134, 82, 3, 0.6);
	width: 40%;
}

form { /* Cadre du formulaire */
	border:2px solid gray;
	border-radius:10px;
	box-sizing:border-box;
	padding:15px;
	width:400px;
	margin:auto;
	height:700px;
}

label{
	width: 80%;
	display: inline-block;
	vertical-align: middle;
}

input {
	border:2px solid gray;
	border-radius:5px;
}

#formulaire{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display:flex;
	justify-content: center;	
}

.box{
	background:rgba(255, 166, 0, 0.781);
	text-align: center;
}

.box h4{
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
	font-size: 30px;
	color: green;
	text-shadow: black 0px 0px 1px;
}

.box input[type = "text"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid green ;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "text"]:focus{
	width: 250px;
	border-color: yellow;
}

#participer{
	display: flex;
	align-items: center;
	background: none;
	display: block;
	margin:20px auto;
	text-align: center;
	border: 2px solid green ;	
	padding: 10px 10px ;
	width: 200px;
	outline: none;
	background: white;
	border-radius: 24px;
	color:#666;		
}

*, ::before, ::after {
    box-sizing: 5,3;
    margin: 0;
    padding: 0;
}

.btn {
    display: block;
	margin: auto;
	margin-top: 20px;
    font-size: 30px;
    color: black;
    padding: 15px ;
    background: yellow;
    outline: none;
    border-radius: 30px;
}

.btn:active {  
    top: 6px;
}

.testo{	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	font-size: 25px;
}

#foot{
	display: flex;
	align-items: space-between;
	flex-direction: row;
	margin-right: 70px;
	height: 100px;
}

#facebook{
	max-width: 40px;
	margin-right: 5px;
}

.reseau {
	width: 12%;
	margin-right: 5px;
}

h5{
	color:#d35400;
	font-size: 30px;
	font-weight: bold;
	margin-top:50px;
	margin-bottom: 30px;
	text-align:center;
}

.sansDeco{
	text-decoration: none;
	color: rgb(0, 88, 160);
}

.boxed select {	
	color:#666;
	width: 265px;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid green;
} 

@media screen and (min-width: 768px){

	body{
		background:#EDED2B;
	}

	nav{
		width: 100%;
		float: none;
		text-align: center;
		border-bottom: none;
		margin: 0px;
	}

	nav:before{
		content: "";
	}

	nav #menu{
		display: block;
		margin : auto;
		width: 100%;
		background-color: transparent;
		box-shadow: none;
	}

	nav>#menu>li{
		display: inline-block;
		font-size: 25px;
		width : 25%;
		text-align : center;
	}

	header{
		min-height: 23%;
	}

	#citronnade{
		width: 8%;
		float: none;
		margin: auto;
	}

	#repèrePrésentation{
		padding-bottom: 18%;
	}

	#repèreFormulaire{
		margin-top: 50px;
		margin-bottom: 120px;
	}

	#container{
		width: 70%;
		border: solid black 3px;
	}

	#cadre{
		padding: 3%;
		display: flex;
		border-radius: 30px;
		text-align: justify;
		width: 500px;
		font-size: 20px;
	}

	#cadreLieu{
		padding: 7%;
	}

	#paragraphe h2{
		display: block;
		width: 40%;
		margin: auto;
		margin-bottom: 10px;
	}

	#cadreBoisson{
		display: block;
		width: 50%;
		margin: auto;
	}

	#container h1{
		margin-top:20px;
		margin-left:120px;
		width:40%;
		font-size: 30px;
	}

	#paragraphe{
		margin-left: 30px;
		display: block;
		margin-bottom: 30px;
	}

	#presentation{
		width: 80%;
		margin: 0px 80px;
		flex-direction: row;
	}

	#imageGrenouille{
		width: 30%;
		display: flex;
		justify-content: center;
		border-radius: 30px;
		margin-right: 0px;
	}

	#citronFrais{
		width: 25%;
		height: 250px;
		border-radius: 100%;	
	}
	
	.reseau {
		width: 8%;
	}

}